{% extends  'Sandbox/Layouts/layout2.html.twig' %}
{% block title %}{{ parent() }} Vue2{% endblock %}
{% block titre_principal %}Bonjour{% endblock %}

{% block vue %}
    <p>wesh les amis c'est Pop_Hip Informatique Poitiers</p>

{% endblock %}